* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 1.8rem;
    color: #ff6b6b;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4c4c;
}

.message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

.hidden {
    display: none;
}

.image-container {
    display: flex;
    justify-content: center; /* Center images horizontally */
    margin: 20px 0; /* Add margin for spacing */
}

.birthday-image {
    width: 100px; /* Adjust width as necessary */
    height: auto;
    margin: 0 10px; /* Space between images */
    border-radius: 10px; /* Add border radius */
    display: none; /* Initially hide images */
}
